.login-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.login-ui-img {
  width: 450px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.label-text {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

.input-el-container {
  background-color: transparent;
  border: 2px solid orangered;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 300px;
  padding: 5px;
}

.input-el {
  background-color: transparent;
  outline: none;
  width: 270px;
  padding: 10px;
  border: 0px;
}

.icon {
  height: 20px;
  width: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock {
  width: 150px;
}

.button-el {
  background-color: #302d29;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 0px;
}
